<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="wallet-ledger-service"/>

    <!-- Consola con formato estructurado de observabilidad (TraceId, SpanId, CorrelationId) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight(%-5level) [%cyan(${appName})] [%green(%thread)] [%blue(traceId=%X{traceId:-},spanId=%X{spanId:-})] [%magenta(cid=%X{correlationId:-})] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Archivo rotativo de logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${appName}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [${appName}] [%thread] [traceId=%X{traceId:-},spanId=%X{spanId:-}] [cid=%X{correlationId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.cambistaonline.wallet" level="DEBUG"/>
</configuration>
